@import '~viz-shared/vars.less';
@import '~viz-shared/index.less';

.expressions-list {
    min-width: 400px;
}

.expression-row {
    display: flex;
    align-items: center;
    margin: 5px 0;
}

.marker-highlight-error {
    position: absolute;
    z-index: @modal-z + 2;
    border-bottom: solid 1px red;
    background-color: #F4B9B7;
    opacity: 0.5;
}
