.titles-list {
    margin: 0;
    padding: 0;
    list-style: none;
    white-space: nowrap;
}
.titles-list-item {
    margin: 0;
    padding: 5px;
    display: inline-block;
    white-space: normal;
    vertical-align: top;
}
.title {
    width: 185px;
    height: 135px;
    background-repeat: no-repeat;
}
.title p, .title h3 {
    margin: 0;
    text-overflow: ellipsis;
}
