.axis {
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: absolute;
}

.error { color: red }

.straightline {
    position: absolute;
    width: calc(100% - 20px);
    border-top: 1px dotted #c5c5c5;
}

.straightlabel {
    border-left: 1px dotted #c5c5c5;
    border-right: 1px dotted #c5c5c5;
    border-bottom: 1px dotted #c5c5c5;
    color: #c5c5c5;
    font-weight: bold;
}

.radial-axis {
    opacity: 0.5;
    position: absolute;
    text-align: center;
}

.radial-axis-label {
    font-size: 12px;
}