.content {
    position: absolute;
    left: 0;
    top: 0;
}

.status-bar {
    max-height: 1.5em;
    background-color: rgba(51,51,153, 0.3);
}

#main, .accordion {
    background-color: rgba(204, 204, 204, 0.3);
    color: #EEF;
    padding: 0.5em;
}

.menu {
    position: absolute;
    left: 0;
}

body {
    background-color: #223 !important;
}

label {
    color: rgba(255,255,255,0.9);
}

.accordion-heading .fa {
    color: white;
}

button.btn-default {
    background-color: transparent;
    color: white;
}

.graph-label-container {
    position: absolute;
    top: 0;
    left: 0;
}
.graph-label {
    position: absolute;
    color: rgba(255,255,255,0.9);
    font-size: 1.2em;
    background-color: rgba(0,0,0,0.7);
}