.graph-label h2 {
    text-align: left;
    font-size: 1em;
}

.graph-label {
    padding-left: 0;
    padding-right: 0;
}

.stat-top { margin: 0;}
.stat-top h2, .stat-flows thead {
    background-color: rgba(255,255,255,0.3);
    padding: 0.2em;
    border: 1px solid rgba(255,255,255,0.4);
    margin: 0;
    margin-bottom: 0.2em;
    font-weight: bold;
}

.stat-flows thead tr td:first-child {
    text-align: left
}
.stat-flows thead tr td:first-child:before {
    content: ' [-] ';
    padding-left: 0.2em;
}

.stat-flows tbody tr td:first-child {
    padding-left: 0.5em;
}

.stat-top h2:before {
    content: ' [+] ';
}

.stat-flows td {
    white-space: nowrap;
    padding-right: 0.5em;
}

.stat-flows {
    max-height: 10em;
    overflow: auto;
}

.stat-flows table {
    counter-reset: rowNumber;
}

.stat-flows table tbody tr {
    counter-increment: rowNumber;
}

.stat-flows table tbody tr td:first-child::before {
    content: counter(rowNumber);
    min-width: 1em;
    margin-right: 0.5em;
}

.stat-flows tbody td {
    text-align: left;
}