@import '../vars.less';

@investigation-header-height: 40px;
@investigation-header-padding-top: ~"calc( (@{investigation-header-height} - 1px - 34px)/2 )";
@investigation-footer-height: 250px;


:local(.serverStatusAlert) {
    position: relative;
    left: 0;
    top: 0;
    z-index: 999999999999;
}

.investigation-all {

    height: 100%;

    & > *:nth-child(2) {
        height: ~"calc(100% - @{investigation-header-height})";
        width: 100%;
    }

}

:local(.investigation-nav) {
    min-height: @investigation-header-height;
    height: @investigation-header-height;
    background-color: @header-bg;
    border: 0px;
    border-radius: 0px;
    border-bottom: 1px solid @header-seperator;
    margin-bottom: 0px;
}


:local(.investigation-split) {
    position: relative;

    & > div > div:nth-child(3) {
        overflow-y: auto;
    }

    & > div > span {


        //Resizer
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        background: #000;
        opacity: .2;
        z-index: 1;
        -moz-background-clip: padding;
        -webkit-background-clip: padding;
        background-clip: padding-box;

        //Horizontal
        border-bottom: 5px solid #999;
        cursor: row-resize;
        width: 100%;

        &:hover {
            border-bottom: 5px solid #777;
        }

        background-color: red;
        &:hover {
            position: relative;
            //iframe is capturing mouse, so extend hit zone
            border-top: 50px solid transparent;
            margin-top: -50px;
        }
    }
}




:local(.welcome-bar) {
    color: #333;
    font-weight: bold;
}

@media (max-width: 992px) {
    :local(.welcome-bar) {
        & > div {
            padding: 0 !important;
        }
    }
}

@media (min-width: 992px) {
    :local(.welcome-bar) {
        & > div {
            padding-left: 15px;
        }
        & > div:first-child {
            padding-left: 0 !important;
        }
        & > div:last-child {
            padding-right: 0 !important;
        }
    }
}

:local(.user-icon) {
    filter: invert(100%) brightness(40%) invert(100%) sepia(100%) saturate(100%) hue-rotate(180deg);
}
:local(.user-greeting-heading) {
    margin-top: 20px;
    margin-bottom: 10px;
    padding-left: 20px;
    font-size: 30px;
}
:local(.user-greeting-message) {
    padding-left: 20px;
}


.main-panel-panel {
    background-color: whitesmoke;
    margin-bottom: 0;
    border-left: 0;
    border-bottom: 0;
    border-radius: 0;

    & > div > div {
        width: 100%;
    }
}
:local(.panel) {
    & > div:first-child {
        font-weight: bold;
        text-transform: uppercase;
        background-color: white;
    }
}

:local(.investigation-table) {
    & > div > div {
        margin-left: 0px;
        margin-right: 0px;
        border: none;
    }
    & td:not(:first-child) {
        border-left: 0px;
    }
    & td:not(:last-child) {
        border-right: 0px;
    }
    & thead th {
        border: none;
    }
}
:local(.add-new-investigation) {
    &:not(:hover) {
        background-color: white;
        color: #337ab7;
    }
}
:local(.delete-investigations) {
    &:not(:hover) {
        background-color: white;
        color: #d9534f;
    }
}
:local(.investigations-buttons) {
    & > button:not(:first-child) {
        margin-left: 5px;
    }
}

:root {
    --app-font-size: 14px;
    --row-font-size: 18px;
    --scrollbar-width: 15px;
}

:global(body) {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    font-size: var(--app-font-size);
}

// Copied from style=... Needs cleanup + organization
.iframe {
    width: 100%;
    height: 100%;
    border: 0px solid #DDD;
    boxSizing: border-box;
    overflow: hidden;
}


.app {
    display: block;
    padding: 20px;
}

.frame {
    width: 100%;
    border: 1px solid black;
    box-sizing: border-box;
}

/* INTERFERE WITH OTHER STYLESHEETS
   FIX BEFORE RE-ENABLING

.tcell {
    overflow: hidden;
    text-overflow: ellipsis;

    & span {
        padding: 3px;
        display: inline-block;
    }

    & input[type=th] {

        margin: 0;
        padding: 5px;
        height: 100%;
        border: none;
        display: inline-block;
        vertical-align: middle;
        box-sizing: border-box;
        background: transparent;
        overflow: hidden;
        text-overflow: ellipsis;
        // font-size: var(--row-font-size);

        &::-webkit-inner-spin-button,
        &::-webkit-outer-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }
    }
}

tr {
    display: block;

    & i {
        font-style: normal;
        display: inline-block;
    }

    & .search:before {
        right: 0;
        position: relative;
        font-awesome: search-plus;
    }

    & .splice:before {
        right: 350%;
        position: relative;
        font-awesome: minus;
    }

    & .insert:before {
        right: 175%;
        position: relative;
        font-awesome: plus;
    }

    & .splice, & .insert, & .search {
        right: 5%;
        display: none;
        cursor: pointer;
        position: absolute;
        vertical-align: middle;
    }

    &:hover .splice, &:hover .insert, &:hover .search {
        line-height: 200%;
        display: inline-block;
    }
}

td, th {
    padding: 2px;
    position: relative;
    white-space: nowrap;
    display: inline-block;
    border: none;
    margin-right: -1px;
    border-right: 1px solid #ddd;
    // font-size: var(--row-font-size);

    &:last-child {
        border-right: none;
    }
}*/

:local(.alert) {
    position: relative
}

:local(.investigation-header) {
    text-align: right;
    white-space: nowrap;
    height: 100%;

    & > div:first-child {
        float: left;
        text-align: left;
    }

    & > div:nth-child(2) {
        display: inline-block;
    }
}
@media (max-width: 600px) {
    :local(.investigation-header) {
        & > div:nth-child(2) {
            display: none;
        }
    }
}

:local(.investigations-dropdownbutton) {
    & > * {
        width: 15em;
        height: @investigation-header-height;
        padding-top: @investigation-header-padding-top;
        padding-right: 15px;
        border-right: 1px solid @header-highlight-medium;
    }
    & > * > *:nth-child(2) {
        border-radius: 10px;
        margin-right: 15px;
        background-color: @header-bg;
        border-color: white;

        span {
            color: white !important; //input text
        }
    }

    & > * > *:nth-child(3) {
        word-wrap: break-word;
        overflow-x: scroll;
        width: 100%;
        white-space: normal;
    }

    & > * > *:nth-child(2) > span:nth-child(2) > span {
        border-color: @header-highlight transparent transparent; //arrow
    }

    & > *:not(.is-open) > div:nth-child(2) {
        //input border
        border-color: transparent;
    }

}

:local(.investigation-header-buttons) {

    float: right;
    margin-right: -15px;
    border-left: 1px solid @header-highlight-medium;

    & > button {
        margin: 0px !important;
        height: @investigation-header-height;
        border-radius: 0px !important;
        background-color: transparent !important;
        color: white !important;
        border: 0px;
        border-right: 1px solid @header-highlight-medium !important;
        padding: 0px !important;
        width: 90px;
    }
}


:local(.investigationTabs) {

    ul {

        background-color: @header-bg;

        li a {
            margin-right: 0;
            padding-top: 6px;
            padding-bottom: 6px;
            color: #E0E0E0;
            border-radius: 0;
            border: 0 !important;
            &:hover {
                color: #E0E0E0;
                background-color: @header-highlight;
            }
        }

    }
}

:local(.pivots) {
    thead th {
        border: none;
        text-align: center;
        text-transform: uppercase;
        font-weight: bold;
        padding-right: 1.5em;
        color: #777;
    }
    thead th:not(:first-child) {
        border-left: 1px solid #ddd !important;
    }

    thead td:nth-child(2) {
        text-align: right;
    }

    tbody tr:nth-child(even) {
        background-color: #f4f4f4;
    }

    tbody td {
        vertical-align: middle !important;
    }
}

:local(.investigation-data) {
    margin: 0px;
    border: 0px;
    tbody td {
        font-size: 12px;
    }
}

:local(.row-toggled-on), :local(.row-toggled-off) {
}

.pivotToggle {
    width: 90px;
    th& {
        padding: 0 !important;
        & button {
            padding: 0;
            border: transparent;
            width: 100%;
            height: 100%;
            border-radius: 0;
        }
    }
    td& span {
        font-weight: bold;
        font-color: #777;
        margin-right: 1em;
    }
    :global(.rc-switch) {
        & {
            zoom: 80%;
        }
        &:global(.rc-switch-checked) {
            background: #777;
            border-color: #333;
        }
    }
}
:local(.pivotData0) {
    width: 200px;
    text-align: right;
}
.pivotTypeSelectorContainer {
    text-align: left;
    font-weight: bold;
    & > div > div:nth-child(2):not(:hover) {
        border-width: 0;
        background-color: transparent;
        border-bottom: 1px dotted #aaaaaa;
    }
}
:local(.pivotData1) {
    //https://github.com/less/less.js/issues/974
    width: ~"calc(100% - 570px)";
    min-width: 25em;

    button {
        font-weight: bold;
        text-decoration: underline;
        padding-bottom: 0px;
    }
    button:not(:hover) {
        border-color: transparent;
        background: transparent;
    }
    input {
        border: 1px solid transparent !important;
        border-bottom: 1px dotted rgba(85,85,85,0.5) !important;
        font-weight: bold;
        width: ~"calc(100% - 140px)";
    }
    input:hover, input:active, input:focus {
        border: 1px solid #ddd !important;
        border-radius: 15px;
    }

    label {
        font-weight: normal;
        //text-transform: uppercase;
        text-align: right;
        margin-left: 1em;
        margin-right: 1em;
        width: 100px;
    }

}
:local(.pivotEntitySummaries) {
    display: inline-block;
    text-align: right;
    margin: 5px 10px 0px 0px;
}
:local(.pivotEntitySummary) {
    display: inline-block;
    overflow: hidden;
    margin: 0 0 0 5px;
    padding: 0 0 0 0;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border: 1px solid #777;
}
@summaryPillHeight: 7px;
:local(.pivotEntityPill) {
    display: block;
    height: @summaryPillHeight;
    width: 100%;
    border-bottom: 1px solid #777;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
:local(.pivotEntityCount) {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 12px;
    vertical-align: top;
    display: inline-block;
    margin-left: 2px;
    color: #777;
    border-right: 1px solid #777;
    padding: 2px 3px 0px 3px;
    height: 20px;

    border-right: 1px solid #777;
}
:local(.pivotEntityName) {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 12px;
    vertical-align: top;
    display: block;
    margin-left: 0px;
    color: #777;
    padding: 2px 5px 0px 5px;
    height: 20px;
    max-width: 70px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

:local(.pivotData2) {
    display: none;
}
:local(.pivotData3) {
    display: none;
}
:local(.pivotData4) {
    display: none;
}
:local(.pivotResultCount) {
    text-align: right;
    span {
        margin-top: @summaryPillHeight;
    }
}
:local(.pivotResultSummaries) {

    max-width: 20em;

    & > * {
        vertical-align: middle;
    }

    &:not(:hover) > * {
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        max-width: 20em;
    }

}
:local(.result-count-on) { }
:local(.result-count-off) {
    opacity: 0.4;
}
:local(.pivotIcons) {
    white-space: nowrap;
}
.pivot-error-tooltip {
}
