:local(.left-nav) {

    width: 90px;
    overflow: hidden;

    li {
        height: 60px;
        width: 90px;
    }

    p {
        height: 30px;
    }
}

:local(.logo) {
    width: 90px;
    text-align: center;
    border-bottom: 1px solid #5b8bde;
    padding-top: 10px;
    padding-bottom: 10px;

    div {
        display: inline-block;
        padding: 0px;
        margin: 0px;
        width: 30px;
        overflow: hidden;

        img {
            height: 35px;
        }

    }
}



@investigation-header-height: 61px;
@investigation-header-padding-top: ~"calc( (@{investigation-header-height} - 1px - 34px)/2 )";
@investigation-footer-height: 250px;

:local(.investigation-all) {

    height: 100%;
    width: ~"calc(100% - 90px)"; //https://github.com/less/less.js/issues/974

    & > *:nth-child(1) {

    }

    & > *:nth-child(2) {
        height: ~"calc(100% - @{investigation-header-height} - @{investigation-footer-height})";
        //height: ~"-webkit-calc(100% - ~'@{investigation-header-height}' - ~'@{investigation-footer-height}')";
        width: 100%;
        overflow: hidden;
        min-height: 0px;
    }

    & > *:nth-child(3) {
        height: @investigation-footer-height;
        overflow: auto;
    }

}

:local(.investigation-nav) {
    min-height: @investigation-header-height;
    height: @investigation-header-height;
    background-color: #6580e1;
    border: 0px;
    border-radius: 0px;
    border-bottom: 1px solid #8095e0;
}



:local(.welcome-bar) {
    color: #333;
    font-weight: bold;
}

@media (max-width: 992px) {
    :local(.welcome-bar) {
        & > div {
            padding: 0 !important;
        }
    }
}

@media (min-width: 992px) {
    :local(.welcome-bar) {
        & > div {
            padding-left: 15px;
        }
        & > div:first-child {
            padding-left: 0 !important;
        }
        & > div:last-child {
            padding-right: 0 !important;
        }
    }
}

:local(.user-icon) {
    filter: invert(100%) brightness(40%) invert(100%) sepia(100%) saturate(100%) hue-rotate(180deg);
}
:local(.user-greeting-heading) {
    margin-top: 20px;
    margin-bottom: 10px;
    padding-left: 20px;
    font-size: 30px;
}
:local(.user-greeting-message) {
    padding-left: 20px;
}


:local(.main-panel) {
}
:local(.main-panel-panel) {
    background-color: whitesmoke;
    & > div > div {
        width: 100%;
    }
}
:local(.panel) {
    & > div:first-child {
        font-weight: bold;
        text-transform: uppercase;
        background-color: white;
    }
}

:local(.investigation-table) {
    & > div > div {
        margin-left: 0px;
        margin-right: 0px;
        border: none;
    }
    & td:not(:first-child) {
        border-left: 0px;
    }
    & td:not(:last-child) {
        border-right: 0px;
    }
    & thead th {
        border: none;
    }
}
:local(.add-new-investigation) {
    &:not(:hover) {
        background-color: white;
        color: #337ab7;
    }
}
:local(.delete-investigations) {
    &:not(:hover) {
        background-color: white;
        color: #d9534f;
    }
}
:local(.investigations-buttons) {
    & > button:not(:first-child) {
        margin-left: 5px;
    }
}

:root {
    --app-font-size: 14px;
    --row-font-size: 18px;
    --scrollbar-width: 15px;
}

:global(body) {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    font-size: var(--app-font-size);
}

// Copied from style=... Needs cleanup + organization
.iframe {
    width: 100%;
    height: 100%;
    border: 0px solid #DDD;
    boxSizing: border-box;
    overflow: hidden;
}


.app {
    display: block;
    padding: 20px;
}

.frame {
    width: 100%;
    border: 1px solid black;
    box-sizing: border-box;
}

/* INTERFERE WITH OTHER STYLESHEETS
   FIX BEFORE RE-ENABLING

.tcell {
    overflow: hidden;
    text-overflow: ellipsis;

    & span {
        padding: 3px;
        display: inline-block;
    }

    & input[type=th] {

        margin: 0;
        padding: 5px;
        height: 100%;
        border: none;
        display: inline-block;
        vertical-align: middle;
        box-sizing: border-box;
        background: transparent;
        overflow: hidden;
        text-overflow: ellipsis;
        // font-size: var(--row-font-size);

        &::-webkit-inner-spin-button,
        &::-webkit-outer-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }
    }
}

tr {
    display: block;

    & i {
        font-style: normal;
        display: inline-block;
    }

    & .search:before {
        right: 0;
        position: relative;
        font-awesome: search-plus;
    }

    & .splice:before {
        right: 350%;
        position: relative;
        font-awesome: minus;
    }

    & .insert:before {
        right: 175%;
        position: relative;
        font-awesome: plus;
    }

    & .splice, & .insert, & .search {
        right: 5%;
        display: none;
        cursor: pointer;
        position: absolute;
        vertical-align: middle;
    }

    &:hover .splice, &:hover .insert, &:hover .search {
        line-height: 200%;
        display: inline-block;
    }
}

td, th {
    padding: 2px;
    position: relative;
    white-space: nowrap;
    display: inline-block;
    border: none;
    margin-right: -1px;
    border-right: 1px solid #ddd;
    // font-size: var(--row-font-size);

    &:last-child {
        border-right: none;
    }
}*/

:local(.alert) {
    position: relative
}

:local(.investigation-header) {
    text-align: right;
    white-space: nowrap;
    height: 100%;

    & > div:first-child {
        float: left;
        text-align: left;
    }

    & > div:nth-child(2) {
        display: inline-block;
    }
}
@media (max-width: 600px) {
    :local(.investigation-header) {
        & > div:nth-child(2) {
            display: none;
        }
    }
}


:local(.investigations-dropdownbutton) {
    & > * {
        width: 15em;
        height: @investigation-header-height;
        padding-top: @investigation-header-padding-top;
        padding-right: 15px;
        border-right: 1px solid rgb(150, 168, 234);
    }
    & > * > *:nth-child(2) {
        border-radius: 10px;
        margin-right: 15px;
        background-color: #6580e1;
        border-color: white;

        span {
            color: white !important; //input text
        }
    }

    & > * > *:nth-child(2) > span:nth-child(2) > span {
        border-color: #96a8ea transparent transparent; //arrow
    }

    & > *:not(.is-open) > div:nth-child(2) {
        border-color: #96a8ea; //input border
    }
}

:local(.investigation-header-buttons) {

    float: right;
    margin-right: -15px;
    border-left: 1px solid #8ca0e8;

    & > button {
        margin: 0px !important;
        height: @investigation-header-height;
        border-radius: 0px !important;
        background-color: transparent !important;
        color: white !important;
        border: 0px;
        border-right: 1px solid #96a8ea !important;
        padding: 0px !important;
        width: 90px;
    }
}

:local(.pivots) {
    thead td {
        border: none;
        text-align: center;
        text-transform: uppercase;
        font-weight: bold;
        padding-right: 1.5em;
        color: #777;
    }

    thead td:nth-child(2) {
        text-align: right;
    }

    tbody tr:nth-child(even) {
        background-color: #f4f4f4;
    }
}

:local(.row-toggled-on), :local(.row-toggled-off) {
    height: 70px;
    & > td {
        height: 70px;
    }
}

:local(.pivotToggle) {
    width: 90px;
    span {
        font-weight: bold;
        font-color: #777;
        margin-right: 1em;
    }
}
:local(.pivotData0) {

    width: 200px;
    text-align: right;

    button {
        font-weight: bold;
        text-decoration: underline;
    }
    button:not(:hover) {
        border: 1px solid transparent;
        background: transparent;
    }
}
:local(.pivotData1) {
    //https://github.com/less/less.js/issues/974
    width: ~"calc(100% - 570px)";

    button {
        font-weight: bold;
        text-decoration: underline;
        padding-bottom: 0px;
    }
    button:not(:hover) {
        border-color: transparent;
        background: transparent;
    }
    input {
        border: 1px solid transparent !important;
        border-bottom: 1px dotted rgba(85,85,85,0.5) !important;
        font-weight: bold;
        width: ~"calc(100% - 140px)";
    }
    input:hover, input:active, input:focus {
        border: 1px solid #ddd !important;
        border-radius: 15px;
    }

    label {
        font-weight: normal;
        //text-transform: uppercase;
        text-align: right;
        margin-left: 1em;
        margin-right: 1em;
        width: 100px;
    }

}
:local(.pivotEntitySummaries) {
    text-align: right;
    margin: 5px 10px 0px 0px;
    overflow-x: scroll; //not on parent due to browser clipping the dropdown
}
:local(.pivotEntitySummary) {
    display: inline-block;
    overflow: hidden;
    height: 20px;
    margin: 0 0 0 7px;
    padding: 0 5px 0 0px;
    border-radius: 5px;
    border: 1px solid #777;
}
:local(.pivotEntityPill) {
    display: inline-block;
    height: 20px;
    width: 10px;
    border-right: 1px solid #777;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
:local(.pivotEntityCount) {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 12px;
    vertical-align: top;
    display: inline-block;
    margin-left: 2px;
    color: #777;
    border-right: 1px solid #777;
    padding: 2px 3px 0px 3px;
    height: 20px;

    border-right: 1px solid #777;
}
:local(.pivotEntityName) {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 12px;
    vertical-align: top;
    display: inline-block;
    margin-left: 2px;
    color: #777;
    //border-right: 1px solid #777; //use when also showing count
    padding: 2px 3px 0px 3px;
    height: 20px;

    max-width: 70px;
    text-overflow: ellipsis;
    overflow: hidden;
}

:local(.pivotData2) {
    display: none;
}
:local(.pivotData3) {
    display: none;
}
:local(.pivotData4) {
    display: none;
}
:local(.pivotResultCount) {
    width: 40px;
    text-align: center;
}
:local(.result-count-on) { }
:local(.result-count-off) {
    opacity: 0.4;
}
:local(.pivotIcons) {
    width: 230px;
}
