@media (max-width: 991px) {
    .sidebar {
        display: block !important;
    }
}

.new-investigation {
    border: 1px dashed #e3e7fa;
}



#pivot-nav {
    left: 90px;
    background-color: #fff;
    color: #555;
}


#pivot-nav.sidebar:after {
    background: #f7f7f8;
}

#pivot-nav .logo {
    text-align: center;
    border-bottom-color: #8095e0;
    border-right: 1px solid #8095e0;
    background-color: #6580e1;
}

#pivot-nav .logo .simple-text {
    color: #fff;
    font-weight: bold;
}

.simple-text span.caret {
    border-top-color: white;
}

#pivot-nav .sidebar-wrapper {
    background-color: #d9dff6;
}

#pivot-nav .card {
    background-color: #FFF;
    border-bottom: 1px solid #ddd;
}

#pivot-nav .card .header {
    background-color: #6580e1;
    color: #fff;
    padding: 15px;
}

#pivot-nav .card .title {
    color: #fff;
}

.card .header.inactive {
    border-bottom: 1px solid #8095e0;
}

.card .header.active .title {
}

.header a.dropdown-toggle {
    /* font-weight: bold; */
    border-radius: 15px;
    /* border: 1px solid rgb(163, 174, 212); */
    padding: 0.3em 0.5em 0.3em 0.5em;
    background-color: rgb(128, 149, 224);
    color: rgba(255, 255, 255, 0.86);
    margin-left: 0.2em;
}

#pivot-nav .table-full-width {
    margin-bottom: 0;
}

.pivots.table {
    counter-reset: pivotNum;
}
.pivots.table tbody tr {
    counter-increment: pivotNum;
}
td.pivot-checkbox {
}
td.pivot-checkbox:before {
    content: "PIVOT " counter(pivotNum);
    vertical-align: top;
    font-size: 12px;
}

.pivots.table thead tr {
    display: none;
}

.pivots tr:first-child td {
    border-top: none;
}

.pivots.table > tbody > tr > td {
    border:none;
}
.pivots.table > tbody > tr:nth-child(odd) > td {
    border-top: 1px solid #ddd;
}
.pivots.table > tbody > tr.inactive td {
    display: none;
}


.table.pivots > tbody > tr:nth-child(1) {
    color: red;
}
.table.pivots > tbody > tr:nth-child(1) td.pivot-search .pivot-search-wrapper2 {
    border-color: red;
}

.table.pivots > tbody > tr:nth-child(2) {
    color: blue;
}
.table.pivots > tbody > tr:nth-child(2) td.pivot-search .pivot-search-wrapper2 {
    border-color: blue;
}

.table.pivots > tbody > tr:nth-child(3) {
    color: green;
}
.table.pivots > tbody > tr:nth-child(3) td.pivot-search .pivot-search-wrapper2 {
    border-color: green;
}


.table.pivots > tbody > tr:nth-child(4) {
    color: orange;
}
.table.pivots > tbody > tr:nth-child(4) td.pivot-search .pivot-search-wrapper2 {
    border-color: orange;
}

.table.pivots > tbody > tr:nth-child(5) {
    color: #6580e1;
}
.table.pivots > tbody > tr:nth-child(5) td.pivot-search .pivot-search-wrapper2 {
    border-color: #6580e1;
}






.table.pivots td {
    padding: 5px;
}
.table.pivots label.checkbox {
    padding: 0;
    margin: 0;
}
.table.pivots td.pivot-movable {
    vertical-align: top !important;
    background-color: rgba(128, 149, 224, 0.3);
    color: rgba(101, 128, 225, 0.52);
    border-top: 1px solid rgba(158, 174, 235, 0.23) !important;
    border-bottom: 1px solid rgba(158, 174, 235, 0.23) !important;
    padding: 0 !important;
    height: 80px;
}


.table.pivots tbody td {
    vertical-align: top;
}

.pivots.table tr {
    border-top: 1px solid #d9d9d9;
}

td.pivot-buttons {
    text-align: right;
    position: absolute !important;
    right: 0;
}
td.pivot-search {
    height: 80px;
    width: 0px;
    padding: 0 !important;
}
.pivot-search-wrapper {
    position: absolute;
    width: 220px;
    left: -45px;
    top: 41px;
}
.pivot-search-wrapper input {
    font-size: 12px;
}

.pivot-search-wrapper2 {
    margin-left: 5px;
    margin-right: 5px;
    border: 1px solid #d9d9d9;
    border-radius: 15px;
    height: 30px;
}

.pivot-search-wrapper2 > div {
    width: 180px;
    display: inline-block;
}
.pivot-search-wrapper2 > button {
    vertical-align: top;
}


.btn-action {
    font-size: 12px;
    text-transform: uppercase;
    vertical-align: middle;

    border-style: dashed;
    border-width: 1px;
}


.main-panel .navbar-header .navbar-brand {
    position: relative;
    top: 0.5em;
    color: #fff;
    margin: 0;
    height: 2em;
    padding-left: 1.2em;
    padding-right: 1.2em;
    padding-top: 0.5em;
    color: white;
    margin-left: 0.5em !important;
    margin-right: 0.5em !important;
}

.main-panel .navbar-header .navbar-brand.on, .main-panel .navbar-header .navbar-brand:hover {
    background-color: #8095e0;
    border-radius: 15px;
}

.main-panel .navbar-header .navbar-brand:hover {
    color: white !important;
    text-decoration: underline;
}