<div class="modal fade persistLayout" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h3 class="modal-title">Share / Embed Snapshot</h3>
            </div>
            <div class="modal-body">
                <div class="snapshot-form-area">
                    <p>For publication, avoid sharing a live view with your API keys and GPU cluster access. Instead, name a location below to save the current static, embeddable layout.</p>
                    <p><b>Configure:</b> To control dimensions, resize the window. Move the view as desired.</p>
                    <form class="form-horizontal">
                        <div class="form-group">
                            <label for="snapshotName" class="col-sm-2 control-label">Save As</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="snapshotName" value="{{defName}}" />
                            </div>
                        </div>
                    </form>
                </div>
                <div class="snapshot-preview">
                </div>
            </div>
            <div class="modal-footer">
                <span class="persist-status-text"> </span> <i class="fa fa-spinner fa-spin status"></i>
                <button type="button" class="btn btn-primary">Save</button>
            </div>
        </div>
    </div>
</div>
