@import '../../vars.less';

@investigation-header-height: 0px;
@investigation-header-padding-top: ~"calc( (@{investigation-header-height} - 1px - 34px)/2 )";
@investigation-footer-height: 250px;


//TODO contain within investigation-header somehow?
:global(.navbar){
    position: absolute;
}

.pivots {
    height: 100%;
    width: ~"calc(100% - 2em)";
    margin-left: 1em;
    margin-right: 1em;

    .play-all {	    
		width: ~"calc(100%)";
	    border-radius: 0.3em;
	    border: 0px;
	    border: 1px solid #CCCCCC;
        height: 25px;
        p {font-size: 5px;}
        transition: background-color 0.3s ease;
	}

	.alert {
	    position: absolute;
	    z-index: 100;
	    width: 100%;
	}
	
	.layoutButton
	{
		width: 49%;
	}

}



@split-margin: 15px;
.investigation-all {

    height: 100%;


	.investigation-split {
	    position: relative;
	    height: 100%;
	    background-color: #F6F6F6;

        //3px withg +/- 10px hit region
        :global(.Resizer.vertical) {
            width: 1px;
            min-width: 1px;
            z-index: 101;

            box-sizing: border-box;
            background-clip: padding-box;
            border-right: 1px solid #CCCCCC;

            background: #ddd;
            cursor: col-resize;

/*            &:hover {
                transition: all 1s ease;
                border-left: 5px solid @pivot-table-fg-light;
                border-right: 5px solid @pivot-table-fg-light;
            }*/
        }
	}

}

.investigation-data {
    margin: 0px;
    border: 0px;
    tbody td {
        font-size: 12px;
    }
}

.investigations-dropdownbutton {
    & > * {
        width: 15em;
        height: @investigation-header-height;
        padding-top: @investigation-header-padding-top;
        padding-right: 15px;
        border-right: 1px solid @header-highlight-medium;
    }
    & > * > *:nth-child(2) {
        border-radius: 10px;
        margin-right: 15px;
        background-color: @header-bg;
        border-color: white;

        span {
            color: white !important; //input text
        }
    }

    & > * > *:nth-child(3) {
        word-wrap: break-word;
        overflow-x: scroll;
        width: 100%;
        white-space: normal;
    }

    & > * > *:nth-child(2) > span:nth-child(2) > span {
        border-color: @header-highlight transparent transparent; //arrow
    }

    & > *:not(.is-open) > div:nth-child(2) {
        //input border
        border-color: transparent;
    }

}

.investigation-header {
    position: static !important;
    padding-right: 0;
    padding-left: 0;
    margin: 0;
    border: 0px;

    background-color: @pivot-table-bg;
    
    color: @pivot-table-fg;    
    &:global(.navbar-inverse .navbar-brand),
    &:global(.navbar-inverse .navbar-nav>li>a) {
	    color: inherit;
	}
}


.placeholder-wrapper {
    //background-color: aqua;
    height: 100%;
    width: 100%;
    position: relative;
    margin: auto;


	.placeholder-message {
	    text-align: center;
	    font-size: 1.5em;
	    font-weight: bold;
	    padding-top: 5em;
	}

	.placeholder-logo img {
	    //background-color: red;
	    position: absolute;
	    margin: auto;
	    top: 0;
	    left: 0;
	    right: 0;
	    bottom: 0;
	    width: 200px;
	    height: 47px;
	    margin-right: 40%;
	    margin-bottom: 35%;
	}

	.placeholder-logo { }
}

:global(.navbar-right .glyphicon) {
    top: 0px !important;
    color: #646464;
}

/*:global(.navbar-right .glyphicon:hover) {
    color: #000000 !important;
}*/

:global(.Pane1) {
    box-shadow: rgba(0, 0, 0, 0.05) 7px 41px 10px;
    z-index: 100;
}

.rule {
	border-bottom: 2px solid #ffffff;
	margin-bottom: 10px;
	border-top: 1px solid #cccccc;
}

.description {
	font-size: 11px;
}

.layoutSwitcher{
	width: 100%;
	font-size: 11px;
}

.copyright {
	font-size: 10px;
	float: left;
}

.copyrightDetail {
	text-align: right;
	float: right;
	font-size: 10px;
}

.myInvestigation {
	font-size: 11px;
}