:root {
    --app-font-size: 14px;
    --row-font-size: 18px;
    --scrollbar-width: 15px;
}

:global(body) {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    font-size: var(--app-font-size);
}

.app {
    display: block;
    padding: 20px;
}

.frame {
    width: 100%;
    border: 1px solid black;
    box-sizing: border-box;
}

.table {
    display: block;
    overflow: hidden;
}

.tbody {
    overflow-x: hidden;
    overflow-y: overlay;
    max-height: 300px;
    font-size: var(--row-font-size);
}

.thead tr {
    border-bottom: 1px solid black;
}

.tfoot tr {
    border-top: 1px solid black;
}

.thead, .tbody, .tfoot {

    display: block;
    text-align: left;
    padding-right: var(--scrollbar-width);

    & .tcell {
        font-weight: bold;
    }
    & .tcell, & .tcell input {
        overflow: hidden;
        text-overflow: ellipsis;
    }

    & tr {
        display: block;

        & i {
            font-style: normal;
        }

        & .search:before {
            right: 0;
            position: relative;
            font-awesome: search-plus;
        }

        & .splice:before {
            right: 125%;
            position: relative;
            font-awesome: minus;
        }

        & .insert:before {
            right: 0;
            position: relative;
            font-awesome: plus;
        }

        & .splice, & .insert, & .search {
            right: 5%;
            display: none;
            cursor: pointer;
            position: absolute;
            vertical-align: middle;
        }

        &:hover .splice, &:hover .insert, &:hover .search {
            display: inline-block;
        }
    }

    & td, & th {

        padding: 0;
        position: relative;
        white-space: nowrap;
        display: inline-block;
        border: none;
        margin-right: -1px;
        border-right: 1px solid black;
        font-size: var(--row-font-size);

        &:last-child {
            border-right: none;
        }
        & span {
            padding: 5px;
        }
        & input {

            margin: 0;
            padding: 5px;
            width: 100%;
            border: none;
            box-sizing: border-box;
            background: transparent;
            font-size: var(--row-font-size);

            &::-webkit-inner-spin-button,
            &::-webkit-outer-spin-button {
                -webkit-appearance: none;
                margin: 0;
            }
        }

    }
}
